# Agenda

- Function internals
- arguments and parameters
- defaults
- scoping

In [2]:
# print is a function -- it doesn't belong to any object
print('Hello')

Hello

In [3]:
s = 'abcd'
s.upper()  # you cannot run upper without saying what it's connected to

'ABCD'

In [4]:
s.upper()  # rewritten to str.upper(s)

'ABCD'

In [5]:
import random
random.randint(0, 100)  # this is a function, not a method -- but a function in a module

50

In [6]:
s = 'abcd'
x = len(s)

type(x)

int

In [7]:
x

4

In [8]:
s = 'abcd'
x = s.upper()

type(x)

str

In [9]:
x

'ABCD'

In [10]:
s = 'abcd'
x = s.upper

In [11]:
type(x)

builtin_function_or_method

In [12]:
def hello():
    return f'Hello!'

# when I define a function with "def", two things happen:
# (1) I create a function object
# (2) I assign that object to a variable -- in this case, hello

In [13]:
hello()   # Python (1) looks for the object that hello refers to and (2) tries to execute it

'Hello!'

In [14]:
x = hello()
x

'Hello!'

In [15]:
x = hello
x

In [16]:
x()

'Hello!'

In [17]:
s = 'abcd'
x = s.upper   # assigning a function to a variable is totally fine -- we get a reference to the function object

x

In [18]:
x()

'ABCD'

In [19]:
s = '890'

if s.isdigit():
    print('Yes, it contains only digits!')

Yes, it contains only digits!

In [21]:
s = 'abc'

if s.isdigit:   # no parentheses -- if is checking if s.isdigit is True -- and (almost) all objects are True!
    print('Yes, it contains only digits!')

Yes, it contains only digits!

In [22]:
d = {'a':1, 'b':2, 'c':3}

for key, value in d.items():
    print(f'{key}: {value}')

a: 1
b: 2
c: 3

In [23]:
d = {'a':1, 'b':2, 'c':3}

for key, value in d.items:
    print(f'{key}: {value}')

TypeError: 'builtin_function_or_method' object is not iterable

In [24]:
def hello(name):
    return f'Hello, {name}!'

In [25]:
hello('Reuven')

'Hello, Reuven!'

In [26]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [27]:
x = 5
x = 7

print(x)

7

In [28]:
def hello(name):
    return f'Hello, {name}!'

hello()

TypeError: hello() missing 1 required positional argument: 'name'

# Argument types in Python

When we call a function, we pass some number of arguments.  Python only knows about two types of arguments. The type of argument you pass influences how that argument will be assigned to the function's parameters.

(Remember: Arguments are values, parameters are variables.)

- Positional arguments -- these will be assigned to parameters based on their locations (positions).  The first argument goes to the first parameter, the second to the second, etc.
- Keyword arguments -- These all have the form of `name=value`. They are assigned to parameters based on the names. The name in the keyword argument must (normally) match the name of a parameter.

In [29]:
def add(first, second):
    return first + second

add(10, 3) # both positional

# parameters: first second
# arguments     10    3

13

In [30]:
add(10)    #only one positional argument

TypeError: add() missing 1 required positional argument: 'second'

In [31]:
# look inside of the function object to understand what Python is looking for
# much of that is on the __code__ attribute in the function object

add.__code__.co_varnames   # tuple of the local variables in our function

('first', 'second')

In [32]:
add.__code__.co_argcount   # how many arguments does the function expect to get?

2

In [33]:
def add(first, second):
    total = first + second
    return total

add(10, 3) # both positional

13

In [34]:
add.__code__.co_argcount

2

In [35]:
add.__code__.co_varnames

('first', 'second', 'total')

In [36]:
def hello(name):
    return f'Hello, {name}!'

In [37]:
hello('world')

'Hello, world!'

In [38]:
hello(5)

'Hello, 5!'

In [39]:
hello([10, 20, 30])

'Hello, [10, 20, 30]!'

In [40]:
hello(hello)

'Hello, <function hello at 0x11c313010>!'

In [41]:
# type hints

# the function takes a string argument
# the function returns a string
def hello(name:str) -> str:
    return f'Hello, {name}!'

In [42]:
hello('world')

'Hello, world!'

In [43]:
hello(5)

'Hello, 5!'

In [44]:
hello([10, 20, 30])

'Hello, [10, 20, 30]!'

In [45]:
hello.__annotations__

{'name': str, 'return': str}

In [46]:
def add(first, second):
    total = first + second
    return total

# can I use keyword arguments?  YES!

add(first=3, second=4)

# parameters: first   second
# arguments:  3         4

7

In [48]:
add(second=4, first=3)  # yes, this will work!

# parameters:  first   second
# assignments   3        4

7

In [49]:
# can I mix positional and keyword arguments?
# yes, but ALL POSITIONAL must come before ALL KEYWORD

add(4, second=3)

7

In [50]:
# cannot say
add(first=4, 3)

SyntaxError: positional argument follows keyword argument (587028117.py, line 2)

In [51]:
# what about this:
add(4, first=3)

TypeError: add() got multiple values for argument 'first'

# Parameters, so far

1. Regular (mandatory) parameters, can get values via either positional or keyword args

In [52]:
def add(first, second=10):
    total = first + second
    return total

In [53]:
add(3, 4)

# parameters: first second
# arguments:    3     4

7

In [56]:
add(3)

# parameters: first second
# arguments:    3     10

13

In [54]:
# check for default arguments values
add.__defaults__

(10,)

In [55]:
add.__code__.co_argcount

2

In [57]:
def add(a, b, c, d=10, e=20, f=30):
    return a + b + c + d + e + f

In [58]:
add.__defaults__

(10, 20, 30)

In [59]:
add(1,2,3,4,5,6)  # no defaults needed

21

In [60]:
add(1,2,3,4)  # 2 defaults needed -- it takes the 2 from the end of __defaults__

60

In [61]:
add(1,2,3,f=100)

136

In [62]:
def add(first=10, second):
    return first + second

SyntaxError: non-default argument follows default argument (4250905537.py, line 1)

In [64]:
def add_one(x):
    x.append(1)
    return x

mylist = [10, 20, 30]
add_one(mylist)   

mylist   # what is mylist after passing it to our function?

[10, 20, 30, 1]

In [65]:
add_one(mylist)
mylist

[10, 20, 30, 1, 1]

In [66]:
# now, I'll have a default for x
def add_one(x=[]):
    x.append(1)
    return x

add_one(mylist)

[10, 20, 30, 1, 1, 1]

In [67]:
add_one()  # no arguments

[1]

In [68]:
add_one()

[1, 1]

In [69]:
add_one()

[1, 1, 1]

In [70]:
# Python thinks: When someone calls this function without any argument,
# let's assign x the empty list we were passed at definition time!

def add_one(x=[]):   # never, ever use mutable default values!
    x.append(1)
    return x

In [71]:
add_one.__defaults__

([],)

In [72]:
add_one()   # no argument, so __defaults__[0] is assigned to x (the local variable)

[1]

In [73]:
add_one.__defaults__

([1],)

In [75]:
def add_one(x=None):  
    if x is None:
        x = []    # this list is defined and assigned at RUN TIME, not compile time
    x.append(1)
    return x

In [76]:
add_one()

[1]

In [77]:
add_one()

[1]

In [78]:
add_one()

[1]

# Parameters, so far

1. Regular (mandatory) parameters, can get values via either positional or keyword args
2. Optional parameters, which have default values

In [80]:
def mysum(numbers):
    print(f'{numbers=}')
    total = 0
    
    for one_number in numbers:
        total += one_number
        
    return total

In [81]:
mysum([10, 20, 30, 40, 50])

numbers=[10, 20, 30, 40, 50]

150

In [82]:
mysum((100, 200, 300))

numbers=(100, 200, 300)

600

In [83]:
# wouldn't it be nice if I could just call "mysum" with a bunch of numeric arguments, not
# a list or tuple of numbers?

mysum(10, 20, 30, 40, 50)

TypeError: mysum() takes 1 positional argument but 5 were given

# `*args`  ("splat args")

If we have a parameter in our function whose name is preceded by `*` (the name is often `args`, but doesn't have to be), then:

- That parameter gets all of the *positional arguments* that no other parameter took
- That parameter is a tuple.
- Comes after all other positional parameters

In [84]:
def myfunc(a, b, *args):
    return f'{a=}, {b=}, {args=}'

In [85]:
myfunc(10, 20, 30, 40, 50)

'a=10, b=20, args=(30, 40, 50)'

In [86]:
myfunc(10, 20)

'a=10, b=20, args=()'

In [87]:
def mysum(*numbers):
    print(f'{numbers=}')
    total = 0
    
    for one_number in numbers:
        total += one_number
        
    return total

In [88]:
mysum.__code__.co_argcount

0

In [89]:
import dis   # disassembler for Python!
dis.show_code(mysum)

Name:              mysum
Filename:          /var/folders/rr/0mnyyv811fs5vyp22gf4fxk00000gn/T/ipykernel_22121/4038091390.py
Argument count:    0
Positional-only arguments: 0
Kw-only arguments: 0
Number of locals:  3
Stack size:        3
Flags:             OPTIMIZED, NEWLOCALS, VARARGS, NOFREE
Constants:
   0: None
   1: 'numbers='
   2: 0
Names:
   0: print
Variable names:
   0: numbers
   1: total
   2: one_number

In [90]:
def mysum(*numbers):
    print(f'{numbers=}')
    total = 0
    
    for one_number in numbers:
        total += one_number
        
    return total

In [91]:
mysum(10, 20, 30)

numbers=(10, 20, 30)

60

In [92]:
mysum([10, 20, 30])  # can I pass a list?

numbers=([10, 20, 30],)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [93]:
x = [10, 20, 30]    # I really want to pass this as an argument to "mysum"

# I call this "unrolling" -- using * before an argument, to remove its parentheses

mysum(*x)   # when we call a function, we can put * before any iterable.  This create arguments from its elements

numbers=(10, 20, 30)

60

In [94]:
t = (100, 200, 300)
mysum(*t)

numbers=(100, 200, 300)

600

In [95]:
def add(first, second):
    total = first + second
    return total

t = (10, 3)
add(t)  # add expects to get 2 arguments

TypeError: add() missing 1 required positional argument: 'second'

In [96]:
add(*t)   # this takes the elements of t, and makes them the arguments to add

13

In [97]:
a,b = t   # unpacking

In [98]:
a

10

In [99]:
b

3

In [101]:
a, *all = t

In [102]:
a

10

In [103]:
all

[3]

In [104]:
# don't do this at home... or at work
(*a,) = t

In [105]:
a

[10, 3]

In [106]:
t

(10, 3)

# Exercise: `all_lines`

1. Write a function, `all_lines`, which takes one mandatory argument and any number of additional arguments:
    - Mandatory argument is a string, the name of a file to which you'll write
    - Any number of optional arguments are also strings, names of files from which you'll read
2. When you call the function, all of the lines of the input files are written into the output file.  Write all of the lines of the first input file, then all of the lines of the second input file, etc.

Example:

```python
all_lines('output.txt', 'infile1.txt', 'infile2.txt')  
```

In [107]:
!ls *.txt

zsh:1: no matches found: *.txt

In [108]:
!ls *.txt

linux-etc-passwd.txt  mini-access-log.txt  nums.txt  shoe-data.txt

In [ ]:
def all_lines(outfile, *args)